.header {
    z-index: 2;
    position: -webkit-sticky; /* Safari */
  position: sticky;
    top: 0;
    left: 0;
    display: none;
    background-color: white;
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px 1px 1px rgba(129, 129, 129, 0.2);
    
    .search {
        position: absolute;
        left: 0;
        margin-left: 10px;
        width: 20%;

        .search-input-container {
            width: 90%;
            height: 40px;
            border-radius: 20px;
            background-color: #F0F2F5;
            margin-left: 5px;

        }

        .search-input {
            width: 90%;
            height: 30px;
            border: none;
            outline: none;
            background-color: #F0F2F5;
        }

        .search-input::-webkit-input-placeholder { 
            font-family: FontAwesome;
            font-weight: normal;
            overflow: visible;
            vertical-align: top;
            display: inline-block !important;
            padding-left: 5px;
            padding-top: 2px;
            // color: hsl(9, 40%, 60%);
        }

        .search-input::-moz-placeholder  { 
            font-family: FontAwesome;
            font-weight: normal;
            overflow: visible;
            vertical-align: top;
            display: inline-block !important;
            padding-left: 5px;
            padding-top: 2px;
            // color: hsl(9, 40%, 60%);
        }
            
        .search-input:-ms-input-placeholder  { 
        font-family: FontAwesome;
        font-weight: normal;
        overflow: visible;
        vertical-align: top;
        display: inline-block !important;
        padding-left: 5px;
        padding-top: 2px;
        // color: hsl(9, 40%, 60%);
        }
    }

    .center-area {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        .center-block {
            width: 20%;

            .icon-container{
                width: 100%;
                height: 45px;
                border-radius: 10px;
            }

            &.active {
                border-bottom: 4px solid rgb(7, 117, 201);
            }

            .inactive-block {
                &:hover {
                    background-color: #F0F2F5 ;
                }
            }
        }

        .center-icon {
            width: 25px;
            height: 25px;
            color: #65676B;

            &.active-icon {
                color: rgb(7, 117, 201);
            }

            
        }
    }

    .right-area {
        margin-right: 10px;
        position: absolute;
        right: 0;
        width: 20%;
        .name-area {
            width: 300px;
            
            .header-image {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 5px;
            }
        }

    }

    .header-icon{
        width: 40px;
        height: 40px;
    }

    .facebook-icon{
        color: rgb(7, 117, 201);
    }
}

@media only screen and (min-width: 426px) {
    .header {
        display: block;
    }
  }