.createPost {
    margin:20px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(129, 129, 129, 0.2);
    background-color: white;
    width: 100%;
    .text-area{
        margin: 10px;

        .person-pic {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 5px;
            padding: 10px;

        }

        .enter-text {
            width: 90%;
            border: none;
            background-color: #F0F2F5;
            outline: none;
            border-radius: 10px;
            padding: 10px;
        }

        .submit-button{
            border: none;
            outline: none;
            background-color: #0775C9;
            height: 40px;
            width: 70px;
            border-radius: 10px;
            margin-left: 5px;
            color: white;
            padding: 10px;
            cursor: pointer;
        }

    }

    .line{
        width: 90%;
        border: 1px solid lightgray;
        margin:20px 5%;
    }

    .content-area{
        margin:10px;
        
    }

    .previewImage {
        width: 100%;
    }

    .remove{
        color: red;
        cursor: pointer;
        margin: 10px;
    }

    .gif-block{
        z-index: 10;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:400px;
        height: 400px;
        background-color: white;
        border-radius: 10px;

        .search-gif-container {
            margin: 20px 0;
            width: 90%;
            height: 40px;
            border-radius: 20px;
            background-color: #F0F2F5;
            margin-left: 5px;

        }

        .search-gif {
            width: 90%;
            height: 30px;
            border: none;
            outline: none;
            background-color: #F0F2F5;
        }

        .gif-area{
            width: 100%;
            // position: relative;
            overflow: hidden;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;

            .gif{
                width: 200px;
                height: 200px;
            }
        }

    }

    .blank-back{
        z-index: 9;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:100%;
        height: 100%;
        background-color: rgba(211, 211, 211,0.2);
    }
}