@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

p{
  margin: 0;
}

.App {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

